<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Mazda</h1>
		<p class="lead">{{pais}}</p>
		<p class="lead">Sector de Venta:
		{{sectorVentas}}</p>
		<hr class="my-4">

		logo: <img src={{logo}}>
		<hr class="my-4">
		<h1 class="display-6">Origen</h1>
		<p class="lead">Originario de {{pais}}
		inicio operaciones en el año
		{{anioFundacion}}</p>

		

		
	</div>
</div>